click

colorama

Flask

gunicorn



idna

itsdangerous

Jinja2

joblib

keras
MarkupSafe
numpy
Pillow
scikit-learn
scipy



    
    
  
sklearn==0.0


tensorflow-cpu
